# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Rust
target/
**/*.rs.bk

# Logs
*.log

# Docker
.docker/
.antigravitycli

# Environment variables
.env
